body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #00ac9f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: white;
  display: inline-block;
}
ul {
  padding: 0;
  list-style-type: none;
}
.choice:hover {
  filter: brightness(75%);
}
.heading {
  font-size: 3rem;
  line-height: 150%;
}
.text {
  font-size: 1.5rem;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.center {
  text-align: center;
}
#customMargin {
  margin-top: 2rem;
}
@media (max-width: 700px) {
  .wrapper {
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .main-wrapper {
    width: 100%;
  }
}
